.create-form-section {
    width: 100vw;
    height: 100vh;
    background-color: #FFF6F4;
    box-sizing: border-box;
    overflow-x: hidden;
}

.create-form-loading {
    position: absolute;
    right: 50px;
    top: 50px;
}

.create-form-content {
    margin-left: 65px;
    padding: 40px 100px;
    padding-top: 0;
    background-color: #FFF6F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.create-form-title {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #FF7655;
    width: 100%;
    text-align: center;
}

.create-form-input-title,
.create-form-input-desc {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid #0B1B54;
    background-color: transparent;
    font-size: 14px;
    color: #0B1B54;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
    font-weight: 600;
}

.create-form-input-title {
    font-size: 18px;
}

.create-form-input-title::placeholder,
.create-form-input-desc::placeholder {
    color: #0B1B54;
    opacity: 0.6;
}

.create-form-question {
    background-color: #BFD4E3;
    border-radius: 16px;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.create-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 2px;
    }

    img {
        width: 20px;
    }
}

.create-form-select-perm {
    position: relative;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 180px;
        height: 30px;
        border-radius: 50px;
        background-color: #0B1B54;
        z-index: 2;
        border: none;
        transition: all 0.3s ease;

        h4 {
            font-size: 15px;
        }

        img {
            width: 17px;
        }
    }

    button:hover {
        background-color: #384994;
    }
}

.create-form-type-toggle {
    display: flex;
    gap: 6px;

    h4 {
        margin-right: 5px;
        color: #0B1B54;
    }

    button {
        font-size: 13px;
        font-weight: 600;
        padding: 5px;
        border-radius: 50px;
        border: 2px solid #FF7655;
        cursor: pointer;
        background-color: #F5F5F5;
        transition: all 0.2s ease;
        color: #FF7655;
        width: 90px;
    }

    button.active {
        background-color: #FF7655;
        padding: 5px;
        color: #FFF6F4;
    }
}


.create-form-mandatory {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    font-size: 14px;
    color: #0B1B54;
}

.create-form-mandatory-select {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #F5F5F5;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    margin-left: 5px;
}

.create-form-mandatory input[type="checkbox"] {
    display: none;
}

.create-form-mandatory input[type="checkbox"]:checked+.create-form-mandatory-select {
    background-color: #FF7655;
}


.create-form-input-field {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1.5px solid #0B1B54;
    background-color: transparent;
    border: 2px solid #0B1B54;
    color: #0B1B54;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
    font-weight: 600;
    width: 90%;
}

.create-form-input-field::placeholder {
    opacity: 0.6;
    color: #0B1B54;
}

.create-form-choice {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 40%;

    input {
        flex: 1;
        padding: 8px 10px;
        border-radius: 50px;
        background-color: #FFFFFF;
        color: #0B1B54;
        font-size: 14px;
        outline: none;
        border: none;
        font-weight: 600;
    }

    input::placeholder {
        opacity: 0.6;
        color: #0B1B54;
    }

    img {
        width: 20px;
        background-color: transparent;
        border: none;
        color: #FFF6F4;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease;
        cursor: pointer;

    }

    button:hover {
        background-color: #FF7655;
    }
}

.create-form-add-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0B1B54;
    color: #FFF6F4;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    transition: all 0.2s ease;
    border-radius: 50px;

    img {
        width: 15px;
    }
}

.create-form-add-option:hover {
    background-color: #384994;
}


.create-form-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    margin-top: 5px;
}

.create-form-add-question {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0B1B54;
    color: #FFF6F4;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 50px;

    img {
        width: 15px;
    }
}

.create-form-add-question:hover {
    background-color: #384994;
}


.create-form-submit {
    background-color: #0B1B54;
    color: #FFF6F4;
    font-weight: 600;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
    align-self: center;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.2s ease;
    width: 200px;
    border-radius: 50px;
}

.create-form-submit:hover {
    background-color: #384994;
}

/* Responsividade */
@media (max-width: 700px) {
    .create-form-title {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .create-form-content {
        padding: 20px;
        gap: 16px;
    }

    .create-form-title {
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .create-form-input-title,
    .create-form-input-desc {
        font-size: 16px;
        padding: 10px;
    }

    .create-form-question {
        padding: 14px 15px;
        border-radius: 12px;
        gap: 10px;
    }

    .create-form-header {
        align-items: flex-start;
        gap: 8px;

        img {
            width: 18px;
        }
    }

    .create-form-type-toggle {
        flex-direction: column;

        h4 {
            font-size: 14px;
        }

        button {
            width: auto;
            font-size: 12px;
            padding: 4px 10px;
        }
    }

    .create-form-choice {
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;

        input {
            font-size: 13px;
            padding: 6px 10px;
            width: 100%;
            box-sizing: border-box;
        }

        img {
            width: 18px;
        }
    }

    .create-form-add-option {
        font-size: 12px;
        padding: 7px 12px;
        align-self: center;
    }

    .create-form-add-question {
        font-size: 12px;
        padding: 7px 12px;
        align-self: center;
    }

    .create-form-select-perm button {
        width: 100%;
        height: 35px;
    }

    .create-form-input-field {
        width: 100%;
        font-size: 13px;
        padding: 8px 10px;
        box-sizing: border-box;
    }

    .create-form-mandatory {
        h4 {
            font-size: 10px;
        }
    }

    .create-form-buttons {
        justify-content: center;
    }

    .create-form-submit {
        width: 90%;
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .create-form-content {
        margin-left: 40px;
    }
}