.edit-worker-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFF6F4;
}

.edit-worker-permsdropdown-container {
    pointer-events: none;
    position: absolute;
    width: 400px;
    height: 100%;
    margin-top: 230px;
    margin-left: 65px;
}

.edit-worker-vacationdropdown-container {
    pointer-events: none;
    position: absolute;
    width: 400px;
    height: 100%;
    margin-top: 780px;
    margin-left: 65px;
}

.edit-worker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 65px;
    background-color: #0B1B54;
    border-radius: 15px;
    padding: 25px 5px 25px 5px;
    width: 400px;
    height: 380px;

    h1 {
        color: #F5F5F5;
        margin-bottom: 10px;
    }

    p {
        color: #F5F5F5
    }
}

.edit-worker-text-group {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    margin-bottom: 5px;
}

.edit-worker-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-worker-navigate-code {
    background-color: #FF7655;
    height: 45px;
    border: none;
    transition: 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #F5F5F5;
    border-radius: 12px;
    text-decoration: none;
}

.edit-worker-navigate-code:hover {
    background-color: #384994;
    color: #F5F5F5
}

.edit-worker-input {
    height: 47px;
    width: 100%;
    background-color: #DDE6FB;
    color: #F5F5F5;
    border: none;
    border-radius: 12px;
    color: #0B1B54;
    padding-left: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.edit-worker-input::placeholder {
    color: #0B1B54;
    opacity: 0.7;
}

.edit-worker-input:focus {
    outline: none;
}

.edit-worker-select-perms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 47px;
    border: none;
    background-color: #DDE6FB;
    color: #0B1B54;
    font-size: 14px;
    border-radius: 12px;
    padding-left: 10px;

    h4 {
        opacity: 0.7;
        font-weight: 400;
        font-size: 14px;
    }

    img {
        width: 18px;
    }
}

.edit-worker-navigate-login {
    color: #F5F5F5;
    margin-top: 10px;
    cursor: pointer;
}

.edit-worker-input-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* Responsividade */
@media (max-width: 480px) {
    .edit-worker-container {
        width: 75%;
        height: 380px;
        padding: 20px 10px;
        gap: 10px;
    }

    .edit-worker-permsdropdown-container, .edit-worker-vacationdropdown-container {
        width: 75%;
    }

    .edit-worker-input-group {
        flex-direction: column;
        gap: 10px;
    }

    .edit-worker-navigate-code {
        font-size: 14px;
        height: 40px;
    }

    .edit-worker-navigate-login {
        font-size: 10px;
    }

    .edit-worker-text-group p {
        text-align: start;
        font-size: 14px;
    }

    .edit-worker-input {
        height: 40px;
    }

    .edit-worker-select-perms {
        height: 40px;
    }
}

@media (max-width: 400px) {
    .edit-worker-container {
        margin-left: 40px;
    }

    .edit-worker-permsdropdown-container, .edit-worker-vacationdropdown-container {
        margin-left: 40px;
    }
}