.splash-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0B1B54;
}

.splash-logo{
    position: relative;
    transform: translateX(20px);
    width: 90px;
    margin-right: 10px;
    background-color: #0B1B54;
    transition: 0.4s ease;
    z-index: 1;
    padding-left: 50px;
}

.splash-logo.change {
    transform: translateX(0);
    padding: 0;
} 

.splash-text {
    position: relative;
    opacity: 0;
    transform: translateX(-100px);
    width: 160px;
    height: 45.6px;
    transition: 0.4s ease;
    z-index: 0;
}

.splash-text.change {
    opacity: 1;
    transform: translateX(0);
    width: 160px;
}