.return-arrow-section {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.return-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 20px;
    pointer-events: auto;
}