.permissions-dropdown-section {
    position: absolute;
    top: 40px;
    background-color: #0B1B54;
    width: 40%;
    padding: 10px 25px;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
    pointer-events: none;

    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        height: 40px;

        h4 {
            font-size: 15px;
            font-weight: 600;
        }
    }

    hr {
        transform: translateX(-26px);
        border: 1px solid #F5F5F5;
        width: 100%;
        padding-left: 50px;
    }
}

.permissions-dropdown-section.active {
    pointer-events: all;
    opacity: 1;
}

.permissions-dropdown-checkbox {
    display: none;
}

.permissions-dropdown-checkbox-icon {
    background-image: url("../../assets/unchecked-white.svg");
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
}

.permissions-dropdown-checkbox:checked+.permissions-dropdown-checkbox-icon {
    background-image: url("../../assets/checked-white.svg");

}