.dashboards-section {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #FFF6F4;
}

.dashboards-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 65px;
    color: #FF7655;

    h1 {
        font-size: 45px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    iframe {
        width: 70%;
        height: 520px;
    }
}

.dashboards-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    h2 {
        font-size: 30px;
        color: #0B1B54;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 17px;
    }
}

/* Responsividade */
@media (max-width: 500px) {
    .dashboards-warning {
        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 14px;
        }
    }
}

@media(max-width: 400px) {
    .dashboards-content {
        margin-left: 40px;
        h1 {
            font-size: 28px;
        }
    }
}

@media (max-width: 350px) {
    .dashboards-warning {
        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 12px;
        }
    }
}