.point-menu-section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.point-menu-loading {
    position: absolute;
    top: 50px;
    right: 50px;
}

.point-menu-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 65px;
    background-color: #FFF6F4;
    min-height: 100%;

    h1 {
        font-size: 45px;
        color: #FF7655;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #0B1B54;
        border: none;
        transition: all 0.3s ease;
        border-radius: 50px;
        width: 210px;

        h4 {
            color: #F5F5F5;
            font-size: 12px;
        }

        img {
            width: 15px;
        }
    }

    button:hover {
        background-color: #384994;
    }
}

.point-menu-one {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    width: 65%;
    margin-bottom: 20px
}

.point-menu-searchbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 40px;
    background-color: #BFD4E3;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;

    img {
        width: 25px;
    }

    input {
        width: 70%;
        font-size: 18px;
        background-color: transparent;
        border: none;
        color: #0B1B54;
        font-weight: 500;
    }

    input::placeholder {
        color: #8193B1;
    }

    input:focus {
        outline: none;
    }
}

.point-menu-select-date {

    button {
        position: relative;
        z-index: 5;
        pointer-events: none;
    }

    input {
        position: absolute;
        width: 210px;
        height: 32px;
        border-radius: 25px;
        margin-top: -34px;
        outline: none;
        box-sizing: border-box;
    }

    input[type="date"] {
        padding: 0.5rem;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        width: 100%;
        height: 35px;
    }
}

.point-menu-cards {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
}

.point-menu-card {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    background-color: #8594D4;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
}

.point-menu-card-left {
    width: 100%;

    h2 {
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
    }
}

.point-menu-card-diff {
    padding: 5px 10px;
    background-color: #E8EDFF;
    border-radius: 50px;
}

.point-menu-card-diff.minor {
    color: #D20D0D;
}

.point-menu-card-diff.bigger {
    color: #409346;
}

/* Responsividade */
@media (max-width: 700px) {
    .point-menu-content {
        h1 {
            font-size: 28px;
            margin-top: 120px;
        }
    }
}

@media (max-width: 550px) {
    .point-menu-card {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2,
        p {
            text-align: center;
        }
    }
}

@media (max-width: 400px) {
    .point-menu-content {
        margin-left: 40px;

        h1 {
            text-align: center;
        }
    }

    .point-menu-one {
        width: 80%;
    }

    .point-menu-searchbar {
        input {
            font-size: 12px;
        }
    }

    .point-menu-cards {
        width: 80%;

        p {
            font-size: 12px;
        }
    }

    .point-menu-select-date {
        button {
            width: 180px;
        }

        input {
            width: 180px;
        }
    }
}