.snackbar-container {
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    padding: 20px;
    top: 20px;
    right: -400px;
    width: 350px;
    min-height: 140px;
    max-height: 250px;   
    border-radius: 22px;
    background-color: #BFD4E3;
    transition: all 0.2s ease;
    z-index: 20;
}

.snackbar-container.show {
    right: 20px;
}

.snackbar-text{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: 100%;

    h1 {
        color: #0B1B54;
        font-size: 22px;
    }

    h2 {
        font-size: 17px;
        font-weight: 500;
        color: #0B1B54;
    }
}

.snackbar-icon-container {
    width: 10%;
    min-height: 140px;
    max-height: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.snackbar-icon {
    width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
    .snackbar-container {
        width: 55%;
    }

    .snackbar-text {
        h2 {
            font-size: 14px;
        }
    }
}